<div class="personnel-contact common-list">
    <div class="common-list-filter" [formGroup]="filterForm">
        <div class="clf-item">
            <label class="clf-item-label">姓名</label>
            <div class="clf-item-control">
                <input nz-input formControlName="name">
            </div>
        </div>
        <div class="clf-item">
            <label class="clf-item-label">手机号</label>
            <div class="clf-item-control">
                <input nz-input formControlName="phone">
            </div>
        </div>
        <div class="clf-item">
            <label class="clf-item-label">班级</label>
            <div class="clf-item-control">
                <nz-select style="width: 200px;"
                           nzAllowClear
                           nzShowSearch
                           [nzServerSearch]="true"
                           (nzOnSearch)="organizationSearch($event)"
                           (nzScrollToBottom)="organizationLoadMore()"
                           formControlName="organizationId">
                    <ng-container *ngFor="let org of organizations">
                        <nz-option *ngIf="!isOrgLoading" [nzLabel]="org.name" [nzValue]="org.organizationId"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isOrgLoading" nzDisabled nzCustomContent>
                        <i class="anticon anticon-loading anticon-spin loading-icon"></i> 加载中...
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div class="clf-btns">
            <button nz-button [nzType]="'primary'" (click)="toSearch()">搜索</button>
        </div>
    </div>
    <div class="common-list-header">
        <button nz-button [nzType]="'primary'"
                (click)="contactCreateModalOpen()">
            <i class="anticon anticon-plus"></i>
            添加员工
        </button>
    </div>
    <div class="common-list-table">
        <nz-table #basicTable [nzLoading]="isLoading" [nzData]="contacts">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>手机号</th>
                <th>角色</th>
                <th>所在班级</th>
                <th>状态</th>
                <th nzWidth="120px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.gender|personnelGenderTrans}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.roleId|personnelRoleTrans:roles}}</td>
                <td>{{data.organizationTitle}}</td>
                <td>{{data.status|personnelContactStatusTrans}}</td>
                <td nzWidth="120px">
                    <a (click)="contactCreateModalOpen(data)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="contactDelete(data)">删除</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
