<ul nz-menu [nzMode]="'inline'" style="height:100%" [nzInlineCollapsed]="isCollapsed">
    <li nz-menu-item routerLink="/pages/dashboard" routerLinkActive="ant-menu-item-selected">
            <span title>
                <i class="anticon anticon-dashboard"></i>
                <span>总览</span>
            </span>
    </li>
    <li nz-submenu [nzOpen]="isNzOpen('personnel')">
            <span title>
                <i class="anticon anticon-user"></i>
                <span>人员管理</span>
            </span>
        <ul>
            <li nz-menu-item routerLink="/pages/personnel/organization" routerLinkActive="ant-menu-item-selected">
                班级管理
            </li>
            <li nz-menu-item routerLink="/pages/personnel/student" routerLinkActive="ant-menu-item-selected">
                幼儿管理
            </li>
            <li nz-menu-item routerLink="/pages/personnel/contact" routerLinkActive="ant-menu-item-selected">
                员工管理
            </li>
        </ul>
    </li>
    <!--<li nz-submenu [nzOpen]="isNzOpen('setting')">-->
    <!--<span title>-->
    <!--<i class="anticon anticon-setting"></i>-->
    <!--<span>设置</span>-->
    <!--</span>-->
    <!--<ul>-->
    <!--<li nz-menu-item routerLink="/pages/setting/student-profile-template" routerLinkActive="ant-menu-item-selected">-->
    <!--学生信息模板-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
</ul>
