<div class="personnel-organization common-list">
    <div class="common-list-filter" [formGroup]="filterForm">
        <div class="clf-item">
            <label class="clf-item-label">班级名称</label>
            <div class="clf-item-control">
                <input nz-input formControlName="name">
            </div>
        </div>
        <div class="clf-item">
            <label class="clf-item-label">年级</label>
            <div class="clf-item-control">
                <nz-select style="width: 200px;"
                           nzAllowClear
                           formControlName="gradeId">
                    <nz-option *ngFor="let grade of grades"
                               [nzLabel]="grade.name"
                               [nzValue]="grade.gradeId"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="clf-btns">
            <button nz-button [nzType]="'primary'" (click)="toSearch()">搜索</button>
        </div>
    </div>
    <div class="common-list-header">
        <button nz-button [nzType]="'primary'"
                (click)="organizationCreateModalOpen()">
            <i class="anticon anticon-plus"></i>
            添加班级
        </button>
    </div>
    <div class="common-list-table">
        <nz-table #basicTable [nzLoading]="isLoading" [nzData]="organizations">
            <thead>
            <tr>
                <th>班级</th>
                <th>年级</th>
                <th>教师</th>
                <th>幼儿人数</th>
                <th nzWidth="120px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.gradeName}}</td>
                <td>{{data.contactNameTitle}}</td>
                <td>{{data.studentCount}}</td>
                <td nzWidth="120px">
                    <a (click)="organizationCreateModalOpen(data)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="organizationDelete(data)">删除</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
